@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
  
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction:column;
    align-items:center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/css/img/portal.png"); */
       background-image: url("/css/img/portal.png");

    background-size:cover;
    background-position:center 60%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
}

header{
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position:relative;
    flex-direction: column;
}
 
  header > .texto{
    display: flex;
    flex-direction: column;
   justify-content: center;
   position: relative;

}

header h1, h3{
    margin:10px 0;
    text-align:center;
}


.texto ,img{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* align-items: center;
    margin-top:4%;
    text-align: center; */
}
header h1,h3{
    display: flex;
}
img{
    
        width: 257px;
    height: 179px;
    margin-top: -5%;
 
}

.texto h1{
    font-size:2.12rem;
    margin-bottom: -5px;
    color:darkblue;
    font-size: 2.4rem;
}
.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; 
    margin-top: -3%;
    text-align: center;
    /* /* width: 323px;
    height: 241px; */
}
.texto h3{
    font-size:1.4rem;
    color:rgba(12, 73, 216, 1);
}


 .cabeca{ 
    display: flex;
    position: relative;
    justify-content: center;
    gap: 1px;                 /* Cria um espaço entre a logo e o texto */
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    margin-left: auto;
    margin-right: auto;
    height: 127px;
    width: 900px;
    margin-top: 2%;
    border-radius: 50px;
    border: 1px solid black;
    }
.texto h1, .texto h3 {
                    /* Remove margens padrão que podem desalinhado o centro */

        margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main{
   
    width: 100vh;
    /* height: 100%; */
}
.login{
    display: flex;
    position:relative;
        margin-left: 66%;
       margin-bottom: 27px;
padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
   
 
} 

 .log{
    display: flex;
    justify-content: center;
    border-radius:24px;
    padding: 15px 20px ;
    width: 120px ;
    margin-left: auto;
    flex-direction:row-reverse;
        margin-top: 15%;
}

 /* main .navbarNav{ 
    text-align: center;
} */
.nav-link{
 padding: auto;
}
main .principal{
        /* width: 100%;
        max-width: 900px;
        background: rgba(230, 230, 230, 0.5);   
        backdrop-filter: blur(5px);
        border-radius: 50px;
        padding: 0px 30px;
        margin:20px auto;
        display: flex;
        justify-content: center;
        gap:30px;
        border: 1px solid  rgba(255, 255, 255, 0.3);
        transition: all 0.3s ease;
    height: 60px;
        margin-top: -23%; */

           width: 105%;
    /* max-width: 900px; */
    background: rgba(230, 230, 230, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    justify-content: center;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    height: 60px;
    margin-top: -13%;


}
main .navbar li a:hover{
    transition: all 0.03s;
    text-decoration: underline;
    color:#003366;
}


.card-glass{
    display: flex;
    flex-direction: column;
    
    background: rgba(255, 255, 255, 0.8);
    /* justify-content: center; */
    align-items: center;
    align-self: center;
    width: 600px;
    height: 450px ;
    text-align: center;
    margin-top: 150px ;
    text-decoration: none;
    list-style-type: none;
}
 .formados,.depoimentos {
    color:darkblue; 

}
.meu{
       width: 77%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 1%;
}
.meucard .galeria_fotos img{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;


    color:black;

    
}

.meucard{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    
    
}
.relatos{
    color:black;
}

div .footer,li{
    display: flex;
    position: relative;
    flex-direction:column;
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
      list-style: none;
}
.container_footer{
    display:flex;
 position: relative;
 background: rgba(255, 255, 255, 0.8);
 color: black;
 justify-content: center;
 width: 100%;
 margin-top: 150px;
             /* Ajuste a altura se necessário */
    margin-top: 2%;
}
.lista_final, .item_final{
  display: flex;
    justify-content:space-between;
     padding:  10px 30px;
     gap: 30px;
     justify-self: flex-end;
    align-items: center;
    font-weight: bolder;
    padding-bottom: 4px;
}

.autoria{
        font-size: 1.1rem;
    margin-top: -26px;
    position: relative;
    margin-bottom: 0px;
}
 .lista_final{
    display: flex;
    justify-content:space-between;
     padding:  10px 30px;
     gap: 30px;
     justify-self: flex-end;
    align-items: center;
    font-weight: bolder;
padding-bottom: 10px; 
text-align:end;
} 
.item_final .link_final{
    text-decoration: none;
    list-style: none;
    color:black;
    font-weight: bolder;
    transition: all 0.03 ease;

}
.container_footer .item_final .link_final:hover{
    text-decoration: underline;
    color: #003366
}
.text-custom-blue {
    color: #003366 !important; /* Use o código hexadecimal exato do seu logo */
}
.reservados{
    display: block;
display: flex;
position: inherit;
}

.mensa {
    display: flex;
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center;     /* Centraliza o ícone verticalmente */
    position: fixed; 
    
    right: 25px;            /* Fixa no lado direito com um respiro da borda */
    bottom: 25px;           /* Fixa na parte inferior */
    padding: 10px;
    background-color: white; /* O fundo branco que você pediu */
    width: 50px;           /* Tamanho ideal para o círculo */
    height: 50px; 
    border-radius: 50%;     /* Deixa o fundo redondo */
    
    /* Sombra suave para dar profundidade e destaque */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease; /* Efeito suave para o hover */
     margin-top: 18%;
}

.mensa:hover {
    transform: scale(1.1);   /* Aumenta levemente ao passar o mouse */
}


.mensa i {
    display: flex;
 
    font-size: 60px;
    color: darkblue;
    line-height: 1;
}
.chat_link{
    text-decoration: none;

}
.conteudo_principal{
margin-top: 0;
}
/* --------------------------------------------- */
/* LOGIN */




.titulos_login{
    display: flex;
    position: relative;
    justify-content:center ;
    align-items: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    
}
.titulos_login h3{
    margin-left: auto;
    margin-right: auto ;
    text-align: center;
        margin-top: 15%
}

    .container_login{
         width: 90%;
        display: flex;
        position: relative;
        
        justify-content: center;
        align-items: center;
        align-self: center;
        background: rgba(255, 255, 255, 0.7);
        width: 498px;
    height: 608px;

       
        margin-left: auto;
        margin-right: auto;
        margin-top: 260px;
        border-radius: 58px;
        border: 1px solid black;
        
        
    }
    
        .infor_login{
            display: flex;
            position: relative;
            justify-content:space-around;
            word-spacing: 2px;
            align-self: center;
                  transition: 0.3s ease ;
        }
        .infor_login a{
            text-decoration: none;
            color:black;
        } 
        .infor_login a:hover{
            transition: 0.03s ease ;
            text-decoration: underline;
            color:blue;
            font-weight: bolder;
        }
    
 #inputPassword3,
 #inputEmail3
 {
    border-radius: 25px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-color: rgba(0, 0, 139, 1);
    margin-top: -8px;
  
 }
 .form-check{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    position: relative;
    gap:20px;

 }

    .login_filho{
        margin-right: auto;
        margin-left: auto;
         margin-top: 29px;
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: center;
    }
.botao_entrar{
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
        height: 41px;   
    width: 144px;
    border-radius: 25px;
    
}
.move_botao{
    margin-left: auto;
    margin-right: auto;
    
}
.login-img img{
       width: 243px;
    height: 167px;
    display: inline-flex;
    position:static;
    margin-top: -126px;
    margin-left: auto;
    margin-right:auto ;
}
    .login-img{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
        align-self: auto;
    }
    .login-img .titulo_login{
        display: flex;
        flex-direction: column  ;
        margin-left: auto;
        margin-right: auto;
        
   
    }
    .login-img .titulo_login h1{
        font-size: 1.6rem;
                text-align: center;
                color:darkblue
                

    }

    .login-img .titulo_login h3{
        font-size: 1rem;
        text-align: center;
        color: blue;
        margin-left: auto;
        margin-right:auto;  
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        text-align: center;
      
    }

    .titulos_login{
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
   
/* .caixa_email{
  padding-left: 35px;
} */
 .user{
       /* position: absolute;
    top: 64%;
    transform: translateY(-50%);
    left: 116px;
    font-size: 13pt; */
     position: absolute;
    top: 306px;
    transform: translateY(-50%);
    left: 116px;
    font-size: 13pt;
}
.cadiado{
         position: absolute;
    top: 379px;
    transform: translateY(-50%);
    left: 116px;
    font-size: 13pt;
}
.olho{
               position: absolute;
        top: 380px;
    transform: translateY(-50%);
    left: 367px;
    font-size: 13pt;

}

 
    /* -------------------------------------------------------------------------------------------------- */
    /* ===================================== CADASTRO DO LOGIN =====================================*/


.cadastro{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    
}



.nome_cadastro .email_cadastro{
    margin-top: 25px;
} 
.cadastro_main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}
.img_cadastro img{
   width: 243px;
    height: 167px;
    display: inline-flex;
    position: static;
    margin-top: -126px;
    margin-left: auto;
    margin-right: auto;
}

.img_cadastro{
        width: 243px;
    height: 167px;
    display: inline-flex;
    position: relative;
    margin-top: -126px;
    margin-left: auto;
    margin-right: auto;
}


.container_cadastro{
    
    display:flex;
    flex-direction: column;
margin-top:150px;
 background: rgba(255, 255, 255, 0.7);
 border-radius: 50px;
 border: 1px solid black;

}

.cadastro_titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}
.emCadatro{
    display: flex;
    flex-direction: column;
    
    width:250px;
}

.meu_titulo_cadastro{
    display: flex;
    flex-direction: column;
        margin-bottom: -94px;
    

}

.titulo_do_cadastro{
    display: flex;
    justify-content: center ;
    padding: 18px 0;
    color:darkblue;
}

.meu_titulo_cadastro h1 {
    font-size: 2.4rem;
    color:darkblue;
    font-weight: bolder;
    text-align: center;
    font-size: 1.9rem;
}

.meu_titulo_cadastro h3{
    font-size: 1.4rem;
    color:blue;
}


.botao_cadatro{
    display: flex;
    flex-direction: row;
    gap:90px;
    width: 200px;
    
}

.botao_confirmar_cadastro a{
    width: 100px;
    text-decoration: none;
   color: white;
}

.botao_cadatro a {
    text-decoration: none;

}

/* -------------------------- esqueci minha senha ------------------------------------ */
.esqueci{
    margin: 0;
    padding:0;
    display: flex;
align-items: center;
align-self: center;
justify-content: center;

width: 100%;
height: 100vh;
overflow: hidden;


}


.container_esqueci{
display: flex;  
position: relative;
justify-content: center;
margin-left: auto;
margin-right: auto;
flex-direction: column;
 background: rgba(255, 255, 255, 0.7);
 border-radius: 50px;
width: 600px;   
border: 1px solid black;
overflow: hidden;
 

}

.botao_esqueci{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap:30px;
    padding: 20px 0;
}


.titulo_do_esqueci{
text-align: center;
padding: 10px 0;
color: #003366;
}

/* --------------------------------------SOBRE--------------------------------- */

.sobre{
    margin: 0;
    padding:0;
    display: flex;
align-items: center;
align-self: center;
justify-content: center;
width: 100%;
height: 100vh;
overflow: hidden;
}

.container_footer_sobre {
    display: flex;
    position: relative;
    background: rgb(255, 255, 255, 0.8);
    color: black;
    justify-content: center;
    width: 100%;
        margin-top: 10px;

}

.container_sobre {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: rgba(255, 255, 255, 0.7);
        width: 54%;
    height: 576px;
    margin-top: 1vh;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  
}
.texto_sobre_historia{
    margin-left: auto;
    text-align: center;
    margin-right: auto  ;
}
.texto_historia{
    text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    word-spacing: auto;
}
.lista_final_sobre {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 0;
    justify-self: flex-end;
    align-items: center;
    font-weight: bolder;
    padding-bottom: -3px;
    text-align: end;
}

.titulo_sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    align-content: flex-end;
    position: absolute;
    margin-top: -91%;
    
}
.titulo_sobre h1{
    font-size: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* -----------------------------------------SAC----------------------------------- */

.container_sobre .sac{
    display: flex;
    position: relative;
    flex-direction:column;
}
.botao_sac{
     margin-top: -8%;
         font-size: 1.2rem;
}
.texto_sac{
    display: flex;
    position: relative;
    width: 413px;
    height: 161px;
}

.form-label{
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bolder;
}
.container_sobre .titulo_sac{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90%;
    
}

.titulo_sac .h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25%;

}
.container_sac {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: rgba(255, 255, 255, 0.7);
    width: 52%;
    height: 540px;
    margin-top: 2vh;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.form_sac{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: -13%;
}
.label_sac{
    border-radius: 50px;
    width: 300px;
    height: 48px;
    text-align: center;
       color: darkblue
}


.text-center h1{
    margin-top: 20%;
    

}

.titulo_sac h1{
    color:#003366;   
}

.container_footer_sac {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    justify-content: center;
    width: 100%;
   
    margin-top: auto;
top: 37px;
}

/* ---------------------------------CONTATO --------------------------------*/
.enviar-contato{
    margin-top:-64px;
}

.form_contato{
        display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: -13%;
}

.container_contato {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: rgba(255, 255, 255, 0.7);
       width: 54%;
    height: 568px;
    margin-top: 2vh;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.titulo_contato h1 {
    text-align: center;

    color: #003366;
    margin-top: 10%;
}


    .label_contato {
    border-radius: 50px;
    width: 300px;
    height: 48px;
    text-align: center;
    color: darkblue;}
    
    .container_footer_contato {
    display: flex;
    position: relative;
    background: rgb(255, 255, 255, 0.8);
    color: black;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}
/* ---------------------------------TRABALHE CONOSCO --------------------------------*/
.conosco{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
    
    
}
.conosco h1{
    margin-top: -20px;
}
.tabela_consoco{
    margin-top: 0%  ;
}
.container_footer_conosco{
        display:flex;
 position: relative;
 background: rgba(255, 255, 255, 0.8);
 color: black;
 justify-content: center;
 width: 100%;
 margin-top: 150px;
             /* Ajuste a altura se necessário */
    margin-top: auto;
    top:181px;
    
}

/* -------------------------------------------------financeiro--------------------------------------- */

.finceiro_boleto{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 255, 1);
    background: rgba(255, 255, 255, 0.5);
    margin: 150px;
    width: 316px;
    height: 100px;
    border-radius: 50px;
    
}
.finceiro_boleto h1, .finceiro_boleto{
    margin-left: auto;
    margin-right: auto;
}

.baixar i{
display: flex;
position: relative;
flex-direction: column;
font-size: 10px;
}

a .bi-cloud-arrow-down-fill {
font-size: 1.5rem;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-items: center;
    transition: all 0.3s ease;
box-shadow:0 10px 30px -5px rgba(0, 0, 0, 0.1);
width: 10px;
  margin-top: 9px;
}
a{
    text-decoration: none;
}
a .bi-cloud-arrow-down-fill:hover{
     transform: scale(1.6);   /* Aumenta levemente ao passar o mouse */
     transition: all 0.3s ease;
     box-shadow:0 10px 30px -5px rgba(0, 0, 0, 0.1);

}
th,td{
    text-align: center;
}
td{
 display: inline block;
 position: relative;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 20px ;
 color: black;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-weight: bolder;
 margin-top: 20%;

}
th{
    font-size: 1.1rem ;
    font-weight: bolder;
}

.x, .v{

    
    /* justify-content:center; */
    align-items: center;
    align-self: center;
    text-align: center;
}


.texto_pendente{
    text-indent: 16%;
}
.v{
    color: rgba(0, 128, 0, 1);
     font-size: 1.6rem;
     display: inline-block;
     
}
.x{
    color:#FF0000;
     font-size: 1.4rem;
     font-weight: bold;
}
.titulofinan{
     margin-top: 3%;
   margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;


}
.titulofinan h1{
 display: flex;
        position: static;
                justify-content: center;

        align-items: center;
        align-self: center;
        background: rgba(255, 255, 255, 0.7);
        /* margin-top: 20%; */

        border-radius: 50px;
        height: 100px;
        width: 600px;
            color: rgba(0, 0, 255, 1);


}

.tabela-financeiro {
    background-color: #ffffff;
    border-radius: 8px; /* Cantos arredondados suavizam o visual */
    
    /* Uma sombra em camadas para efeito realista */
    box-shadow: 
        0 4px 6px -1px rgba(0, 0, 0, 0.1), 
        0 10px 15px -3px rgba(0, 0, 0, 0.05);
    
    border: 1px solid rgba(0, 0, 0, 0.05); /* Uma borda quase invisível ajuda na definição */
    box-shadow: 
  0 2px 4px rgba(0,0,0,0.05), 
  0 15px 35px rgba(0,0,0,0.1);

  border-radius: 4px 20px;
}

.tabela_financeira{
    margin-left: auto;
    margin-right: auto;
    margin-top: -45%;

}

.meu_menu{
    display: flex;
    position: relative;
    margin-right:auto;
    height: 330px;
 padding: auto 10% 30%;
   
}
.meu_menu a li {
    font-style: none;
    color:black
}

.meu_menu a{
    text-decoration: none;
    color:black;
    font-weight: bolder ;
    text-align: center;
}

.meu_menu a:hover{
    text-decoration: underline;
}
.mover{
    /* margin-right:80%;
    margin-top: 5%;
width: 300px;
height: 500px; */
display: flex;  
position: relative;
justify-content: center;
margin-left: auto;
margin-right: auto;
flex-direction: column;
 background: rgba(255, 255, 255, 0.7);
    margin-right: 85%;
    /* margin-top: 5%; */
    /* margin-top: -14%; */
     margin-top: -2%;
    width: 197px;
    height: 474px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 border-radius: 27px;
 border: 1px solid black;
}


.container_financeiro_footer{
    display:flex;
 position: relative;
 background: rgba(255, 255, 255, 0.8);
 color: black;
 justify-content: center;
 width: 100%;
     height: 38px;

             /* Ajuste a altura se necessário */
    margin-top: 86px;
    overflow: hidden;
}
.final_roda_financeiro, .item_final_finaceiro{
  display: flex;
    justify-content:space-between;
     padding:  10px 30px;
     gap: 30px;
     justify-self: flex-end;
    align-items: center;
    font-weight: bolder;
padding: 0px; 
}

.autoria_financeiro{
        font-size: 1.1rem;
    margin-top: -26px;
    position: relative;
    margin: 0px;
}
 .lista_final_financeiro{
    display: flex;
    justify-content:space-between;
     padding:  10px 30px;
     gap: 30px;
     justify-self: flex-end;
    align-items: center;
    font-weight: bolder;
padding: 0px; 
text-align:center;
}



/* -------------------------------------------------CATEGORIAS--------------------------------------- */


.container_categoria {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: rgba(255, 255, 255, 0.7);
    width: 46%;
    height: 493px;
    margin-top: 6%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    top: -34px;
      

    }

    .container_footer_categoria {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    justify-content: center;
    width: 100%;
        height: 74px;
    margin-top: auto;
    /* height: 7.3vh; */
top:27px;
}
.li_texto{
    text-align: center;
    margin-top: 30%;
    font-weight: bolder;
    border: 4px solid black;
    color: rgba(0, 0, 255, 1);
    width: 250px;
    cursor:pointer;

}

.titulo_categoria .li_texto:hover{
    background-color: rgba(255, 255, 255, 0.9); /* Fica um pouco menos transparente */

    transform: scale(1.02); /* Dá um leve "pulo" para frente */
    transition: 0.3s; /* Deixa o movimento suave */

} 
.titulo_categoria   h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

/* -------------------------------------------------ALBUNS--------------------------------------- */
.container_footer_albun {
    display: flex;
    position: relative;
    background: rgb(255, 255, 255, 0.8);
    color: black;
    justify-content: center;
    width: 100%;
    margin-top: 14px;
}

.container_albun {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: rgba(255, 255, 255, 0.7);
    width: 54%;
    height: 576px;
    margin-top: 1vh;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

/* -------------------------------------------------PAGINA DE ASSINATURAS--------------------------------------- */
.menu_assinatura{
    align-items: center;
    align-self: center;
    justify-content: center;
}
.menu_principal_assinatura{
    
    max-width: 900px;
    background: rgba(230, 230, 230, 0.5);   
    backdrop-filter: blur(5px);
    border-radius: 50px;
    padding: 0px 30px;
    margin:20px auto;
    display: flex;
    justify-content: center;
    gap:30px;
    border: 1px solid  rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    width: 100%;
    height: 60px;
    
}
.container_assinaturas{
    margin-top: 10%;
}

.text-assinatura{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-weight:bolder;
    text-decoration: underline;
}

/* .footer_assinaturas{
    margin
} */

